* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir', 'Segoe UI', 'Ubuntu';
}

.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background: rgba(41, 119, 245, 0.2);
}

.phoneimg {
  height: 720px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  height: 500px;
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 2px;
}

header {
  height: 50px;
  width: 280px;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.05);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
}
header.noprofile {
  justify-content: center;
}
header.profile {
  padding: 0 15px;
  justify-content: space-between;
}

header.profile > div.right {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
header.profile > div.right > div {
  height: 18px;
  width: 18px;
  background-image: url('/profilepicture.png');
  background-size: cover;
}

header.profile > div.left {
  width: 30px;
  height: 30px;
}
header.profile > div.left i.fa-chevron-left {
  line-height: 30px;
  font-size: 18px;
  cursor: pointer;
}

div.ui.input {
  text-align: center;
}

body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  height: 6px;
}

div.post {
  width: 100%;
  padding: 10px 20px;
}
div.post:first-child > div.post-title {
  border-top: none;
}
div.post-title {
  border-top: 1px solid #aaa;
  padding: 15px 0;
  padding-bottom: 3px;
  font-size: 20px;
  color: #2977f5;
  font-weight: 500;
}
div.post-date {
  color: #444;
  text-transform: uppercase;
  font-size: 10px;
  padding-bottom: 7px;
}
div.post-tags {
  width: 240px;
  padding-bottom: 7px;
}
div.post-tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
div.post-tags > span.tag {
  cursor: pointer;
  font-size: 11px;
  padding: 0 8px;
  margin: 2px 2px;
  border: 1px solid #2977f5;
  border-radius: 40px;
}
div.post-content {
  font-size: 13px;
}
div.post:last-child {
  margin-bottom: 50px;
}
div.pm-button button {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  border: 2px solid #2977f5;
  background: #2977f5;
  color: white;
  padding: 10px 0;
  font-family: 'Avenir', 'Segoe UI', 'Ubuntu';
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}
div.pm-button button i {
  margin-left: 5px;
  transform: scale(1.1);
}

div.bigprofileimg {
  margin: 20px auto;
  width: 150px;
  height: 150px;
  background: #ccc;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.bigprofileimg > div { 
  height: 80px;
  width: 80px;
  background-image: url('/profilepicture.png');
  background-size: cover;
}

div.profilelist {
  padding: 0 30px;
  margin-top: 20px;
}

div.profilelist > div.profileoption {
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  height: 50px;
  width: 100%;
  border-top: 1px solid #aaa;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
div.profilelist > div.profileoption:last-child {
  border-bottom: 1px solid #aaa;
}
div.profilelist > div.profileoption > div.icon {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.followtags {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  padding: 0 30px;
}
div.followtags > div.followtag {
  margin: 5px;
  border: 1px solid #2977f5;
  padding: 3px 10px;
  border-radius: 50px;
  transition: background 200ms ease-in-out, color 200ms ease-in-out;
  cursor: pointer;
}
div.followtags > div.followtag.clicked {
  background: #2977f5;
  color: white;
}

div.proceed {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: #2977f5;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.3px;
  cursor: pointer;
}